@font-face {
    font-family: 'rubikregular';
    src: url('./fonts/rubik-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 62.5%;

    /* Colors */
    --main-color: #e0d2f1;
    --background-color: #ffffff;
    --secondary-color: #331f5e;
    --dark-sec-color: #241544;
    --profile-theme-color: #be4c68;
    --font-color: #363435;
    --header-text-color: white;
    --dark-text-color: rgb(24, 22, 56);

    /* Font sizes */
    --body-font-size: 1.6rem;
    --h1-font-size: max(30px, 2vw);
    --nav-font-size: max(13px, 1.2vw);
    --profile-font-size: calc(1rem + 1vmin);
    --profile-name-font-size: calc(1.2rem + 1vmin);
    --button-font-size: clamp(0.9rem, 0.5rem + 0.6vw, 1.5rem);
    --main-h3-font-size: max(1.2rem, 1.2vw);
    --aside-h2-font-size: max(2rem, 1.3vw);
    --aside-h3-font-size: max(1.2rem, 1vw);
    --aside-p-font-size: 1.4rem;

    /* Sizes */
    --logo-size: max(30px, 4vw);
    --nav-icon-size: max(13px, 1.1vw);
    --search-button-size: max(20px, 1vw);
    --profile-img-size: max(50px, 4vw);
    --notification-icon-size: max(20px, 1.4vw);
    --small-image-size: max(50px, 3vw);
    --main-icon-size: max(20px, 1.2vw);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: var(--body-font-size);
    font-family: 'rubikregular', sans-serif;
    height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: calc(2px + 2ex + 2px);
}

img, picture, video, canvas, svg {
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Layout */
#container {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: var(--background-color);
    width: 100%;
}

/* Header styles */
header {
    grid-row: span 3;
    background-color: var(--secondary-color);
    color: var(--header-text-color);
    padding: 10px 20px 0 5px;
    z-index: 1;
}

#logo {
    display: inline-flex;
    align-items: center;
}

#logo img {
    width: var(--logo-size);
    transform: translateY(-2px);
}

h1 {
    font-size: var(--h1-font-size);
}

/* Navigation styles */
#navigation {
    margin-top: 8%;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li {
    font-size: var(--nav-font-size);
    font-weight: bold;
    padding: 1rem;
}

nav li:hover {
    background-color: var(--dark-sec-color);
}

nav li:nth-child(7) {
    margin-top: 10%;
}

nav img {
    display: inline;
    width: var(--nav-icon-size);
    margin: 0 0.3vw 0 0.8vw;
    transform: translateY(2.5px);
}

header a:link, header a:visited, header a:hover, header a:active {
    text-decoration: none;
    color: var(--header-text-color);
}

aside a:link, aside a:visited {
    color: black;
    text-decoration: none;
}

/* Top wrapper styles */
#top-wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column: 2 / 2;
    background-color: var(--main-color);
    row-gap: 10px;
    align-items: center;
    padding: max(10px, 1%) 5%;
    box-shadow: 0 2px 10px -2px gray;
}

/* Form styles */
form {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 5px;
    align-items: center;
}

#search {
    background-color: var(--background-color);
    width: 35vw;
    border: none;
    border-radius: 10px;
    appearance: none;
    padding: 0.5vw 0.5vw 0.3vw 0.5vw;
}

#search:active {
    outline: 1px solid black;
}

/* Button styles */
button {
    background-color: var(--main-color);
    color: var(--header-text-color);
    cursor: pointer;
    border: none;
    padding: 0;
}

button:active {
    transform: scale(0.90);
}

#search-button img {
    width: var(--search-button-size);
    vertical-align: middle;
}

/* Profile styles */
#profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column: 1 / 1;
    grid-template-columns: max-content max-content auto;
    column-gap: 10px;
}

#profile img {
    width: var(--profile-img-size);
}

#profile p:first-of-type {
    font-size: var(--profile-font-size);
    color: var(--dark-text-color);
}

#profile p:last-of-type {
    font-size: var(--profile-name-font-size);
    font-weight: bold;
    color: var(--dark-text-color);
}

/* Notification button styles */
#notification-button {
    grid-column: 1 / 1;
    justify-self: end;
    margin-right: 1vw;
    transition: all 0.5s ease;
}

#notification-button img {
    width: var(--notification-icon-size);
    vertical-align: middle;
}

#notification-button img:hover {
    transform: rotate(20deg);
}

/* Upper profile styles */
#upper-profile {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.6vw;
    font-weight: bold;
    font-size: var(--profile-font-size);
    cursor: pointer;
    color: var(--dark-text-color);
}

#upper-profile-wrapper {
    grid-column: 3;
    display: grid;
    justify-self: end;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
}

.small-image {
    width: var(--small-image-size);
}

/* Button set styles */
#button-set {
    display: grid;
    align-self: center;
    justify-self: end;
    grid-auto-flow: column;
    grid-template-areas: "new upload share";
    grid-template-columns: repeat(3, max-content);
    grid-column: 3 / span 1;
    gap: 1vw;
}

.command-button {
    width: clamp(4.2rem, 3.5rem + 3.6vw, 9rem);
    height: clamp(2.1rem, 1.8rem + 1.6vw, 4rem);
    text-align: center;
    padding: 3%;
    border-radius: 3vw;
    border: none;
    font-size: var(--button-font-size);
    font-weight: 700;
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 1px 1px rgb(24, 23, 23);
    transition: all 0.5s ease;
}

.command-button:active {
    box-shadow: none;
    background-color: var(--dark-sec-color);
    transform: translate(4px);
}

.command-button:hover {
    background-color: var(--dark-sec-color);
}

#new-button { grid-area: new; }
#upload-button { grid-area: upload; }
#share-button { grid-area: share; }

/* Main content styles */
main {
    display: grid;
    grid-auto-rows: max-content;
}

#projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: min-content;
    gap: 3rem 2rem;
}

#content-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 3.5rem;
    gap: 3.5rem;
}

main article {
    border-left: 10px solid var(--profile-theme-color);
    background-color: var(--main-color);
    border-radius: 8px;
    display: grid;
    grid-template-rows: max-content min-content auto;
    row-gap: 1rem;
    box-shadow: 4px 4px 10px -2px gray;
    backdrop-filter: blur(0px);
    width: 100%;
    height: 100%;
    padding: 2rem;
}

main article:hover {
    transform: translate(0, -5px);
}

.main-button-wrapper {
    display: grid;
    align-self: end;
    grid-template-areas: "favorite view share";
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-self: end;
}

main h3 {
    align-self: end;
    font-size: var(--main-h3-font-size);
}

main p {
    align-self: start;
    color: var(--font-color);
    font-size: 1.7rem;
}

main div img {
    width: var(--main-icon-size);
}

#favorite-button { grid-area: favorite; }
#view-button { grid-area: view; }
#share-button { grid-area: share; }

/* Aside styles */
aside p {
    color: var(--font-color);
}

hr {
    margin: 20px 0;
    border: 1px solid rgb(175, 170, 170);
}

h2 {
    font-size: var(--aside-h2-font-size);
    margin-bottom: 5px;
}

#announcements p {
    font-size: var(--aside-p-font-size);
}

aside h3 {
    font-size: var(--aside-h3-font-size);
}

#announcements > div {
    padding: 2rem;
}

#announcements > div,
#trending > div {
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 4px 4px 10px -2px gray;
}

#trending {
    margin-top: 3.5rem;
}

#trending > div {
    display: grid;
    gap: 20px;
    padding: 2rem;
}

.mini-profile {
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
    gap: 10px;
    cursor: pointer;
}

.mini-profile:active,
#upper-profile:active {
    transform: scale(0.90);
}

.mini-profile img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mini-profile div p:first-child {
    color: var(--dark-text-color);
    font-weight: bold;
}

h2, h3 {
    color: var(--dark-text-color);
}