*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    line-height: calc(2px + 2ex + 2px);
}

:root {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header {
    grid-row: span 3;
}

#top-wrapper {
    grid-column: 2 / span 3;
}

main {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

main h2 {
    grid-column: 1 / -1;
}

#announcements {
    grid-column: 4 / 5;
}

#trending {
    grid-column: 4 / 5;
}
