@font-face {
    font-family: 'rubikregular';
    src: url('./fonts/rubik-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    line-height: calc(2px + 2ex + 2px);
}

:root {
    font-size: 62.5%;
    --main-color: #EEE5BF;
    --background-color: #E2D0BE;
    --secondary-color: #734B5E;
    --profile-theme-color: #DF99F0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    font-family: 'rubikregular', sans-serif;
}

img, picture, video, canvas, svg {
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

#container {
    display: grid;
    grid-template-columns: max-content 1fr 1fr min-content;
    background-color: var(--background-color);
}

header {
    grid-row: span 3;
    background-color: var(--secondary-color);
    color: white;
    padding-right: 2.4vw;
}

#logo img {
    width: max(30px,4vw);
    transform: translateY(-2px);
}

#logo {
    display: inline-flex;
    align-items: center;
}

h1 {
    font-size: max(15px,2vw);
}

#navigation {
    margin-top: 8%;
}

nav img {
    display: inline;
    width: max(13px, 1.1vw);
    margin: 0 0.3vw 0 0.8vw;
    transform: translateY(2.5px);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

nav li {
    font-size: max(13px,1.2vw);
    font-weight: bold;
}

nav li:nth-child(7) {
    margin-top: 10%;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: #FAA9A9;
}

#top-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 3;
    background-color: var(--main-color);
    row-gap: 10px;
    align-items: center;
    padding: 1%;
}

form {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 5px;
    align-items: center;
}

button {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    padding: 0;
}

button:active {
    transform: scale(0.90);
}

#search-button img {
    width: max(20px,1vw);
    vertical-align: middle;
}

#search {
    background-color: var(--background-color);
    width: 33vw;
    border: none;
    border-radius: 10px;
}

#profile {
    display: grid;
    grid-column: 1 / 1;
    grid-template-columns: max-content max-content;
    column-gap: 10px;
}

#profile img {
    width: max(50px,4vw);
    grid-row: 1 / 3;
}

#profile p:first-of-type {
    align-self: end;
    font-size: calc(1rem + 1vmin);
}

#profile p:last-of-type {
    align-self: start;
    font-size: calc(1.2rem + 1vmin);
    font-weight: bold;
}

#notification-button {
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 1vw;
}

#notification-button img {
    width: max(20px,1.4vw);
    vertical-align: middle;
}

#upper-profile {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column: 3 / 4;
    align-items: center;
    column-gap: 1vw;
    font-weight: bold;
    font-size: calc(1rem + 1vmin);
}

#upper-profile img {
    width: max(25px,3vw);
}

#test {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: ". new upload share .";
    grid-template-columns: 2fr max-content max-content max-content 5vw;
    grid-column: 2 / span 2;
    gap: 1vw;
}

.command-button {
    border-radius: 20px;
    border: none;
    padding: 5px;
    font-weight: bold;
    width: max(50px,5vw);
    font-size: calc(0.9rem + 1vmin);
    background-color: var(--secondary-color);
}

#new-button {
    grid-area: new;
}

#upload-button {
    grid-area: upload;
}

#share-button {
    grid-area: share;
}

main {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%,1fr));
    grid-template-rows: max-content auto;
    gap: 40px;
    margin: 20px;
}

main h2 {
    grid-column: 1 / -1;
    margin-bottom: -40px;
}

main article {
    border-left: 10px solid var(--profile-theme-color);
    background-color: var(--main-color);
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    display: grid;
    align-items: center;
    gap: 2px;
}

main div {
    display: grid;
    align-self: end;
    grid-template-areas: "favorite view share";
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-self: end;
    margin-right: 20px;
    margin-bottom: 10px;
}

main h3 {
    align-self: end;
}

main p {
    align-self: start;
}

main div img {
    width: 1.5vw;
}

#favorite-button {
    grid-area: favorite;
}

#view-button {
    grid-area: view;
}

#share-button {
    grid-area: share;
}

#announcements {
    grid-column: 4 / 5;
}

#trending {
    grid-column: 4 / 5;
}

#trending div {
    background-color: var(--main-color);
}